:root {
  /* 色管理用の変数 */
  --black-color: #333;
  --primary-color: #b6d6eb;
  --gray-color: #d1d1d1;
}

/* ---------- base ---------- */
html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  color: var(--black-color);
  font-size: 16px;
  font-family: "Open Sans", sans-serif  !important;
  line-height: 1.75;
  height: 100%;
  margin: 0;
}

/* ---------- container ---------- */


/* ---------- calendar ---------- */
.calendar_base {
  color: #262d33;
}

.calendar_table-head {
  color: #6e7781;
}

.calendar_table-data {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.is_today {
  background-color: var(--gray-color);
  width: 60px;
  height: 60px;
}

/* ---------- SidePanel ---------- */
.l_SidePanel {
  background-color: var(--primary-color); 
  height: 100hv;
}

.sidepanel_body_container {
  height: 24rem;
  overflow-x: auto;
}

.sidepanel_event {
  display: block;
  height: 68px;
  background-color: #7FAFCF !important;
  border-color: #7FAFCF !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidepanel_event-time {
  display: block;
  width: 100%;
  color: #FFF;
  text-align: start;
}

.sidepanel_event-ttl {
  margin: 0;
  color: #FFF;
  font-weight: bold;
  text-align: start;
}